/*COMMUN*/
img, iframe, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}

/* Gestion des mots longs */
textarea, table, td, th, code, pre, samp {
    word-wrap: break-word; /* passage à la ligne forcé */
    -webkit-hyphens: auto; /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
}

code, pre, samp {
    white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
}

figure {
    margin: 0;
}

img {
    display: block;
    height: auto
}


/* blocks that must contain floats */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
    border-collapse: collapse;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*COMMUN*/

.java {
    position: absolute;
    background-color: #1b1b1b;
    width: 100%;
    top: 0;
    left: -10000px;
    transform: translate(-50, -50);
    z-index: 2;
    font-size: 18px;
}

.projets {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: -10000px;
    z-index: 2;
    background-color: black;
}



/*/COMMUN*/


.intro {
    position: relative;
    background: url("../images/raw.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
    margin: 0;
}

.container .desc-intro {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: white;
    margin: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0px;
    background: transparent;
    box-shadow: 4px -1px 20px white;
    height: 100%;
    z-index: 10000;
}

nav ul {
    padding: 0;
    margin: 51px 0 0 0;

}

nav ul > li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 43px 30px 5px;
    display: block;
    text-align: center;
    cursor: pointer;


}

.color-icon {
    color: #25ca7f;
}

nav ul li:hover {
    color: #25ca7f;
}

.aboutMe {
    position: absolute;
    background-color: #1b1b1b;
    width: 100%;
    top: 0;
    left: -10000px;
    z-index: 1;
}
.aboutMe h3 {
    font-size: 18px;
}

.aboutMe h2 {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin: 50px 0 0 0;
}


.bloc {
    width: 100%;
    margin: 23px auto 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 10px 37px;
    color: white;
}

.fond-bloc {
    background-color: #121417;
}

.bloc-fond-circle {
    margin: 50px auto;
    width: 925px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.vert-bloc-fond {
    border-left: 10px solid green;
}


.txt {
    color: #bdbdbd;
    font-size: 16px;
    line-height: 1.6;
}

.parcours-h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin: 40px 0 0 0;
}

.parcours-txt {
    width: 60%;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 100px 37px;
    color: white;
    border-left: 10px solid green;
}


.circle {
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 3px solid white;
    float: left;
    margin-left: 70px;
}

.circle:first-child {
    margin-left: 0;

}


.etude {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.fleche .far.fa-arrow-alt-circle-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    left: 100%;
    font-size: 60px;
}

/*FORM CON */
.contact {
    position: absolute;
    background: url("../images/form.jpg");
    width: 100%;
    height: 100%;
    top: 0;
    left: -10000px;
    margin-bottom: 0;
    z-index: 1;
}


.contact-form {
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    margin: 10% auto;
    background-color: black;
}

.contact-form h2 {
    font-size: 24px;
    text-align: center;
    color: white;
}


input[type=text] {
    height: 50px;
    width: 48%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 17px;
}

input[type=email] {
    height: 50px;
    width: 48%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 17px;
}


.contact textarea {
    height: 100px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 17px;
}

::placeholder {
    font-size: 17px;

}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-50%, 11%);
    font-size: 17px;
}


input[type=submit]:hover {
    background-color: #45a049;
}

/*FIN FORM CON */


.menu-horizontal-style {
    position: relative;
    width: 70%;
    padding: 50px 0;
    margin: 0 auto;

}

.menu-horizontal-style > ul {
    padding: 0;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, .1);
    background-color: black;
    text-align: center;
    border-radius: 20px;
    width: 100%;
}

.menu-horizontal-style > ul > li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 30px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.menu-horizontal-style > ul > li:hover {
    background-color: #25ca7f;
    border-radius: 20px;
    color: black;
}

.lng-progr {
    position: absolute;
    top: 0;
    left: -10000px;
    background-color: #1b1b1b;
    width: 100%;
    z-index: 2;
}


.html {
    position: absolute;
    background-color: #1b1b1b;
    width: 100%;
    top: 0;
    left: -10000px;
    transform: translate(-50, -50);
    z-index: 1;
    font-size: 18px;
}


.php {
    position: absolute;
    background-color: #1b1b1b;
    width: 100%;
    height: 100%;
    top: 0;
    left: -10000px;
    transform: translate(-50, -50);
    z-index: 1;
    font-size: 18px;
}


.sql {
    position: absolute;
    background-color: #1b1b1b;
    width: 100%;
    height: 100%;
    top: 0;
    left: -10000px;
    transform: translate(-50, -50);
    z-index: 1;
    font-size: 18px;
}


.javascript {
    position: absolute;
    background-color: #1b1b1b;
    width: 100%;
    height: 100%;
    top: 0;
    left: -10000px;
    transform: translate(-50, -50);
    z-index: 1;
    font-size: 18px;
}

.javascript a {
    text-decoration: none;
    color: burlywood;
}


.cpt .container-progr img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 3px solid white;
    float: left;
    margin: 20px;

}

.cpt .container-progr > li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.liens-tp > p {
    text-align: center;
    margin: 40px;
    text-decoration: none;
    color: burlywood;
}

.liens-tp > p > a {
    text-decoration: none;
    color: burlywood;
}

.liens-tp img {
    margin: 0 auto;
}

.tester > p {
    text-align: center;
}

.tester > p > a {
    text-decoration: none;
    font-size: 20px;
    color: #ff0000bf;
}


.suppr-underline {
    font-weight: bold;
    text-decoration: none;
    color: burlywood;
}

.page-exp {
    position: absolute;
    background-color: #1b1b1b;
    width: 100%;
    top: 0;
    left: -10000px;
    transform: translate(-50, -50);
    z-index: 1;
}


.experience h3 {
    font-size: 18px;
    margin-bottom: 26px;
}

.page-exp h3 {
    font-size: 18px;
}

.page-veilles {
    position: absolute;
    background-color: #1b1b1b;
    width: 100%;
    top: 0;
    left: -10000px;
    z-index: 1;
}

.page-veilles h3 {
    font-size: 18px;
    color: white;
}

.page-veilles h4 {
    font-size: 20px;
    color: white;
}

.page-veilles h5 {
    font-weight: bold;
    color: white;
    display: inline-block;
}

.page-veilles h6 {
    font-weight: bold;
    color: white;
    font-size: 15px;
}


.active {
    left: 0;
    transition: all .8s cubic-bezier(.5, .2, .2, 1.1);
    z-index: 4;
}

.active-projet {
    position: absolute;
    left: 0;
    z-index: 3;
}

.change-color {
    background-color: #25ca7f;
    border-radius: 20px;
    color: black !important;
}


/*desk*/

@media (max-width: 500px) {

    nav ul li {
        font-size: 29px;
        padding: 43px 21px 5px;
    }

    .aboutMe h2, .parcours-h2 {
        margin: 50px -50px 0 0;
    }

    .bloc-fond-circle {
        margin: 50px 161px !important;
        width: 0;
    }

    .fleche .far.fa-arrow-alt-circle-right {
        position: absolute;
        top: 100%;
        left: 30%;
        transform: rotate(90deg);
        margin-top: 6px;
    }

    .bloc {
        margin: 35px 116px 0 !important;
        width: 30rem !important;;
    }

    .circle {
        width: 200px;
        height: 200px;
        margin-left: 0;
        margin-bottom: 65px;
    }

    .circle:last-child {
        margin-bottom: 0;
    }

    .menu-horizontal-style {
        margin: 0 12rem;
        white-space: nowrap;
        overflow-x: scroll;
    }

    .menu-horizontal-style > ul {
        width: 161%;
    }

    .menu-horizontal-style > ul > li {
        font-size: 14px;
    }

    .background-projet{
        position: absolute;
        left: 6rem;
    }

    .cpt .container-progr img {
        margin: 2rem 13rem;
    }

    #img-php {
        position: initial !important;
    }

    .container {
        position: absolute !important;
        top: 42% !important;
        left: 59% !important;
    }

    .container h1 {
        font-size: 37px;
    }

    .container .desc-intro {
        font-size: 28px;
    }

    .contact-form {
        width: 37rem;
        margin: 10% 10rem
    }

    input[type=text] {
        width: 100%;
    }

    input[type=email]{
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 1023px) {
    .bloc {
        margin: 23px 30px 0;
    }

    .bloc-fond-circle {
        margin: 50px 30px;
    }

    .background-projet {
        position: absolute;
        top: 34% !important;
    }

    .cpt .container-progr img {
        width: 200px;
        height: 200px;
    }

    #img-php {
        position: absolute;
        top: 41rem;
    }

}

@media (min-width: 1024px) and (max-width: 1200px) {
    .portfolio-wrap {
        width: 810px;
        max-width: 990px;
        margin: 0 auto;
    }

    .bloc {
        padding: 10px 37px;
        margin: 77px auto 0;
        width: 700px;
    }

    .aboutMe {
        width: 100%;
    }

    .aboutMe h2 {
        margin: 25px 0 0 0;
    }

    .circle:first-child {
        margin-left: 40px;
    }

    .circle {
        width: 200px;
        height: 200px;
    }

    .menu-horizontal-style {
        width: 100%;
    }

    .menu-horizontal-style > ul {
        margin: 0;
        width: 100%;
    }


    .projets img {
        margin-top: 85px;
    }

    .cpt {
        position: relative;
        width: 100%;
        right: 30px;
    }

    .cpt .container-progr img {
        width: 200px;
        height: 200px;
    }

    .lng-progr {
        height: 100%;
    }

    #img-html {
        position: absolute;
        top: 0;
        left: 42%;
    }


    #img-java {
        position: absolute;
        top: 15rem;
        left: 52rem;
    }

    #img-php {
        position: absolute;
        top: 35rem;
        left: 44rem;
    }

    #img-sql {
        position: absolute;
        top: 35rem;
        left: 21rem;
    }

    #img-javascript {
        position: absolute;
        top: 15rem;
        left: 12rem;
    }


    /*LOGO DESIGN*/
    /*ABOUT-ME LOGO*/
    .design-sous-titre:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        left: calc(50% + 16px);
        top: 85px;
        background-color: green;
    }

    .design-sous-titre:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        left: calc(50% - 46px);
        background-color: green;
        top: 85px;
    }


    .design-sous-titre .span-geo {
        position: absolute;
        width: 35px;
        height: 17px;
        left: calc(50% - 17px);
        margin-top: 10px;
    }

    .design-sous-titre .span-geo:after {
        left: auto;
        right: 0;
        -webkit-border-radius: 50px 50px 50px 0;
        border-radius: 50px 50px 50px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        border: 2px solid green;

    }

    .design-sous-titre .span-geo:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        border: 2px solid green;
        -webkit-border-radius: 50px 50px 0;
        border-radius: 50px 50px 0 50px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /*/FIN ABOUT-ME LOGO*/
    /*/CONTACT LOGO*/
    .contact .design-sous-titre:before {
        left: calc(50% + -9px);
        top: 168px;
    }

    .contact .design-sous-titre .span-geo {
        left: calc(52%);
        top: 151px;
    }

    .contact .design-sous-titre:after {
        left: calc(50% + 54px);
        top: 168px;
    }

    .contact-form {
        width: 75%;
        margin: 15% 18%;
    }

    form {
        margin-top: 50px;
    }

    /*/FIN CONTACT LOGO*/
}


@media (min-width: 1200px) and (max-width: 1440px) {
    .portfolio-wrap {
        width: 1190px;
        max-width: 1190px;
        margin: 0 auto;
    }


    .projets img {
        position: absolute;
        top: 21%;
        left: 17%;
        width: 74%;
        margin-top: 0;
    }

    .menu-horizontal-style {
        width: 70%;
    }

    .menu-horizontal-style ul {
        width: 100%;
    }

    .cpt .container-progr img {
        width: 200px;
        height: 200px;
    }

    .cpt {
        position: relative;
    }

    .lng-progr {
        height: 100%;
    }

    #img-html {
        position: absolute;
        left: 36rem;
    }

    #img-java {
        position: absolute;
        left: 62rem;
    }

    #img-php {
        position: absolute;
        left: 49rem;
        top: 18rem;;
    }

    #img-sql {
        position: absolute;
        left: 62rem;
        top: 35rem;
    }

    #img-javascript {
        position: absolute;
        top: 35rem;
        left: 36rem;
    }
}

@media (min-width: 1440px) {
    .portfolio-wrap {
        width: 1190px;
        max-width: 1190px;
        margin: 0 auto;
    }

    .container-progr {
        padding: 0;
    }

    .cpt .container-progr img {
        width: 196px;
        height: 196px;
        margin: 106px 20px 0;
    }

    .menu-horizontal-style {
        margin: 4rem auto;
    }

    .lng-progr {
        height: 100%;
    }


    .background-projet {
        position: absolute;
        top: 18rem;
    }

    .aboutMe {
        height: 100%;
    }

    .projets img {
        position: absolute;
        top: 18rem;
        width: 67%;
        left: 29rem;
    }

    .java {
        height: 100%
    }
}


@media (min-width: 1023px) AND (max-width: 1024px) {
    .portfolio-wrap {
        width: 769px;
        max-width: 769px;
        margin: 0 auto;
    }

    h3 {
        font-size: 19px;
    }

    .container {
        position: absolute;
        top: 41%;
        left: 53%;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    .menu-horizontal-style {
        position: relative;
        width: 100%;
        padding: 50px 0;
        margin: 0 4rem;
    }

    .background-projet {
        width: 73%;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-42%, -21%);
    }


    .circle {
        width: 196px;
        height: 196px;
    }


    .contact-form {
        width: 73%;
        margin: 8% 17rem;
    }
}

